
<div ng="radioDemo1">
<form ng-submit="submit()" ng-controller="AppCtrl" >
    <p>Selected Value: <span class="radioValue">{{ data.group1 }}</span> </p>

    <md083fork-radio-group ng-model="data.group1">

      <md083fork-radio-button value="Apple">Apple</md083fork-radio-button>
      <md083fork-radio-button value="Banana"> Banana </md083fork-radio-button>
      <md083fork-radio-button value="Mango">Mango</md083fork-radio-button>

    </md083fork-radio-group>

    <hr />

    <p>Selected Value: <span class="radioValue">{{ data.group2 }}</span></p>

    <md083fork-radio-group ng-model="data.group2">

        <md083fork-radio-button ng-repeat="d in radioData"
                         ng-value="d.value"
                         ng-disabled=" d.isDisabled ">
            {{ d.label }}
        </md083fork-radio-button>

    </md083fork-radio-group>

    <p>
      <md083fork-button ng-click="addItem()" type="button">Add</md083fork-button>
      <md083fork-button ng-click="removeItem()" type="button">Remove</md083fork-button>
    </p>

    <hr />

    <p style="margin-bottom: 0;">Graphic radio buttons need to be labeled with the <code>aria-label</code> attribute.</p>
    <p style="margin-top: 0;">Selected Avatar: <span class="radioValue">{{ data.group3 }}</span></p>

    <md083fork-radio-group ng-model="data.group3">
      <md083fork-radio-button ng-repeat="it in avatarData"
                       ng-value="it.value"
                       aria-label="{{it.title}}">
          <md083fork-icon md-svg-icon="{{it.id}}"></md083fork-icon>
      </md083fork-radio-button>
    </md083fork-radio-group>
</form>
</div>
