<div ng-controller="SelectOptGroupController" layout="column" layout-align="center center">
  <p>Option groups can help provide contextual groupings about the options provided:</p>
  <div layout="column" layout-align="center center" style="height: 100px;">
    <md083fork-select ng-model="favoriteTopping" placeholder="Favorite Topping">
      <md083fork-optgroup label="Meats">
        <md083fork-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'meat' }">{{topping.name}}</md083fork-option>
      </md083fork-optgroup>
      <md083fork-optgroup label="Veggies">
        <md083fork-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'veg' }">{{topping.name}}</md083fork-option>
      </md083fork-optgroup>
    </md083fork-select>
    <p class="result">{{ favoriteTopping ? 'Your favorite topping is ' + favoriteTopping : 'Please select a topping'}}</p>
  </div>
</div>
