
<div ng-controller="AppCtrl">

  <md083fork-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
    Checkbox 1: {{ data.cb1 }}
  </md083fork-checkbox>

  <md083fork-checkbox ng-model="data.cb2" aria-label="Checkbox 2" ng-true-value="'yup'" ng-false-value="'nope'" class="md-warn">
    Checkbox 2 (md-warn): {{ data.cb2 }}
  </md083fork-checkbox>

  <md083fork-checkbox ng-disabled="true" aria-label="Disabled checkbox" ng-model="data.cb3">
    Checkbox: Disabled
  </md083fork-checkbox>

  <md083fork-checkbox ng-disabled="true" aria-label="Disabled checked checkbox" ng-model="data.cb4" ng-init="data.cb4=true">
    Checkbox: Disabled, Checked
  </md083fork-checkbox>

  <md083fork-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary">
    Checkbox (md-primary): No Ink
  </md083fork-checkbox>
</div>
